a:link{
    color: white;
}
a:visited{
    color: Lightgray;
}
a:hover{
    color:rgb(255, 0, 0);
}
a:active{
    color: blue;
}
#logo{
  padding: 10px 0px 20px 0px;
  text-align: center;
  font-size: 100px;
  font-family: fantasy;
}

#menu{
    background-color: rgb(255, 177, 32);
    text-align: center;
    padding: 30px 0px;
}

#menu>span{
    font-size: 50px;
    font-family: Helvetica;
    padding: 0px 100px;
}

#img_main{
    text-align: center;
    width: 1800px;
    background-image: url(./main.jpg);
    background-position: center;
    background-repeat: no-repeat;
}


#product{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding: 30px 0px;
}

#img_product{
    text-align: center;
}
#img_product>img{
    width: 300px;
    height:300px;
    padding: 0px 40px;
}

#bottom{
    text-align: center;
    font-size: 20px;
    height: 150px;
    background-color: lightblue;
}
#bottom>p{
    padding: 20px;
   tab-size: 20px;
}